{% extends 'layout.html.twig' %}

{% block main %}
    <h2>Medias </h2>
    <div class="media-list">
        {% for media in medias %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    {{ media.name }}
                    <img class="card-img-top"
                         data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                         alt="{{ media.name }}" style="height: 225px; width: 100%; display: block;"
                         src="{{ asset('medias/'  ~ media.picture) }}"
                         data-holder-rendered="true">
                <a href="{{ path('media_update', {'id' : media.id }) }}" class="oi oi-delete update-media" data-glyph="pencil" title="Update media" data-id="{{ media.id }}" >Update</a>
                <button class="oi oi-delete delete-media delete-modal" data-glyph="circle-x" title="Delete media" data-id="{{ media.id }}" >Delete</button>
                </div>
            </div>
        {% endfor %}
    </div>

    <button><a href="{{ path('media_add') }}">Add</a></button>

{% endblock %}
