{% extends 'layout.html.twig' %}

{% block main %}
    <h1>Media types</h1>
    <div class="media-list">
        {% for typeMedia in typeMedias %}
            <div>
                {{ typeMedia.name }}
                <a href="{{ path('TypeMedia_update', {'id' : typeMedia.id }) }}" class="oi oi-delete update-media" data-glyph="pencil" title="Update media" data-id="{{ typeMedia.id }}" >Update</a>
                <button class="oi oi-delete delete-media delete-modal" data-glyph="circle-x" title="Delete type media" data-id="{{ typeMedia.id }}" >Delete</button>
            </div>
        {% endfor %}
    </div>

    <button class="btnAdd orange"><a href="{{ path('TypeMedia_add') }}">Add</a></button>

{% endblock %}
