<nav id="cssmenu">
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a> </li>
        <li><a href="{{ path('media_list') }}">Medias</a> </li>
        {% if isAdmin == true %}
        <li><a href="{{ path('Genre_list') }}">Genre</a> </li>
        <li><a href="{{ path('TypeMedia_list') }}">Media types</a> </li>
        {% endif %}
        {% if userConnected == false %}
            <li><a href="{{ path('main_login') }}">Login</a> </li>
        {% else %}
            <li><a href="{{ path('main_logout') }}">Logout</a> </li>
        {% endif %}
        <li><a href="{{ path('main_register') }}">Register</a> </li>
    </ul>
</nav>