<nav id="cssmenu">
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a> </li>
        <li><a href="{{ path('media_list') }}">Medias</a> </li>
        <li><a href="{{ path('Genre_list') }}">Genre</a> </li>
        <li><a href="{{ path('TypeMedia_list') }}">Media types</a> </li>
        <li><a href="{{ path('main_login') }}">Login</a> </li>
        <li><a href="{{ path('main_register') }}">Login</a> </li>
    </ul>
</nav>